start-at-login = true

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

[key-mapping]
preset = 'qwerty'

[gaps]
inner.horizontal = 8
inner.vertical = 8
outer.left = 8
outer.bottom = 8
outer.top = 8
outer.right = 8

[mode.main.binding]
ctrl-alt-h = 'focus left'
ctrl-alt-j = 'focus down'
ctrl-alt-k = 'focus up'
ctrl-alt-l = 'focus right'

ctrl-alt-shift-h = 'move left'
ctrl-alt-shift-j = 'move down'
ctrl-alt-shift-k = 'move up'
ctrl-alt-shift-l = 'move right'

ctrl-alt-minus = 'resize smart -50'
ctrl-alt-equal = 'resize smart +50'

ctrl-alt-1 = 'workspace 1'
ctrl-alt-2 = 'workspace 2'
ctrl-alt-3 = 'workspace 3'
ctrl-alt-4 = 'workspace 4'
ctrl-alt-5 = 'workspace 5'
ctrl-alt-6 = 'workspace 6'
ctrl-alt-7 = 'workspace 7'
ctrl-alt-8 = 'workspace 8'
ctrl-alt-9 = 'workspace 9'
ctrl-alt-0 = 'workspace 0'

ctrl-alt-shift-1 = 'move-node-to-workspace 1'
ctrl-alt-shift-2 = 'move-node-to-workspace 2'
ctrl-alt-shift-3 = 'move-node-to-workspace 3'
ctrl-alt-shift-4 = 'move-node-to-workspace 4'
ctrl-alt-shift-5 = 'move-node-to-workspace 5'
ctrl-alt-shift-6 = 'move-node-to-workspace 6'
ctrl-alt-shift-7 = 'move-node-to-workspace 7'
ctrl-alt-shift-8 = 'move-node-to-workspace 8'
ctrl-alt-shift-9 = 'move-node-to-workspace 9'
ctrl-alt-shift-0 = 'move-node-to-workspace 0'

ctrl-alt-semicolon = 'mode service'

[mode.service.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main']
f = ['layout floating tiling', 'mode main']
backspace = ['close-all-windows-but-current', 'mode main']

ctrl-alt-shift-h = ['join-with left', 'mode main']
ctrl-alt-shift-j = ['join-with down', 'mode main']
ctrl-alt-shift-k = ['join-with up', 'mode main']
ctrl-alt-shift-l = ['join-with right', 'mode main']

# [[on-window-detected]]
# if.app-id = 'com.github.wez.wezterm'
# run = 'move-node-to-workspace terminal'
# check-further-callbacks = false
#
# [[on-window-detected]]
# if.app-id = 'com.mitchellh.ghostty'
# run = 'move-node-to-workspace terminal'
# check-further-callbacks = false
#
# [[on-window-detected]]
# if.app-id = 'org.mozilla.firefox'
# run = 'move-node-to-workspace browser'
# check-further-callbacks = false
#
# [[on-window-detected]]
# if.app-id = 'com.spotify.client'
# run = 'move-node-to-workspace spotify'
# check-further-callbacks = false
#
# [[on-window-detected]]
# if.app-id = 'com.bitwarden.desktop'
# run = 'move-node-to-workspace bitwarden'
# check-further-callbacks = false


# keep application in current workspace
# SecurityAgent e.g. biometric prompt
# [[on-window-detected]]
# if.app-id = 'com.apple.SecurityAgent'
# if.workspace = 'terminal'
# run = 'move-node-to-workspace terminal'
# check-further-callbacks = false
#
# [[on-window-detected]]
# if.app-id = 'com.apple.SecurityAgent'
# if.workspace = 'browser'
# run = 'move-node-to-workspace terminal'
# check-further-callbacks = false
#
# [[on-window-detected]]
# if.app-id = 'com.apple.SecurityAgent'
# if.workspace = 'spotify'
# run = 'move-node-to-workspace terminal'
# check-further-callbacks = false
#
# [[on-window-detected]]
# if.app-id = 'com.apple.SecurityAgent'
# if.workspace = 'bitwarden'
# run = 'move-node-to-workspace terminal'
# check-further-callbacks = false


# all windows that don't have a dedicated workspace go to scratchpad
# [[on-window-detected]]
# if.workspace = 'terminal'
# run = 'move-node-to-workspace scratchpad'
#
# [[on-window-detected]]
# if.workspace = 'browser'
# run = 'move-node-to-workspace scratchpad'
#
# [[on-window-detected]]
# if.workspace = 'spotify'
# run = 'move-node-to-workspace scratchpad'
#
# [[on-window-detected]]
# if.workspace = 'bitwarden'
# run = 'move-node-to-workspace scratchpad'
